*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    background-color: rgb(0, 158, 158);
}
header h1{
    
    text-align: center;
    padding: 20px;
    color: #fff;
    text-decoration: none !important;
}



header .menu{
    background-color: #333;
    text-align: center;
    color: #fff;
}
.menu ul{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.menu ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.menu ul li a:hover{
    text-decoration: underline;
}


/* index page css  */
/* Overall styling for the MAIN container */

.MAIN {
    font-family: Arial, sans-serif;
    margin: 20px auto;
    max-width: 1149px;
    background-color: #f9f9f9;
    padding: 30px;

}

/* Styling for the table */
table {
    margin-top: 20px;
    width: 100%;
}

/* Styling for table headers */
table th {
    background-color: rgb(0, 158, 158);
    color: #fff;
    padding: 10px;
}

/* Styling for table cells */
table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

/* Styling for the Edit and Delete links */
.action a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    padding: 5px 10px;
    color: #fff;
    background-color: rgb(0, 158, 158);
    border-radius: 5px;
}
.action .delete{
    background-color: red;
}
.action .delete:hover{
    background-color: rgb(163, 0, 0);
}


/* Hover effect for links */
.action a:hover {
    background-color: #006666; /* Darker shade for hover effect */
}



/* css for form  */

body{
    background-color: #f9f9f9;
}
.form-container {
    width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input,
select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #006666;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #006666;
}
